@import "../styles/global.scss";

.skills {
    .title {
    }
    ul li {
        list-style: none;
        margin: 5px 0;
        line-height: 1.6;
        display: flex;
        
        strong {

        }
    }
}