@import "../styles/global.scss";
@import "../styles/education.scss";

.welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;

  @include respond-to("mobile") {
  }
}
