@import "variables";
@import "./mixinsscss/media.scss";

.sidebar {
  flex: 1;
  color: $color_inactive_color;
  background-color: $sidebar_background;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  overflow-y: auto;
  .profilepic {
    width: 15vw;
    border-radius: 50%;
    margin: 0 auto;
    display: block;
    box-shadow: 1px 2px 14px 15px $color_profilepic_shadow;
  }
  a {
    text-decoration: none;
    font-family: Muli, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1.5rem;
    color: $color_inactive_color;
  }
  ul {
    list-style: none;
    padding-inline-start: 0;
    li {
      margin-bottom: 12px;
      text-align: center;
      .inactive {
        color: $color_inactive_color;
      }
    }
    .active {
      ::before {
        transition: color 1s ease;
        content: "👉 ";
      }
      a {
        transition: color 1s ease;
        color: $color_active_color;
        text-decoration: none;
        font-family: Muli, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
          "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
          "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        font-size: 1.5rem;
        background-color: $color_link_shadow;
        box-shadow: 1px 2px 14px 15px $color_link_shadow;
      }
    }
  }

  @include respond-to("tablet") {
    position: fixed;
    top: 0;
    width: 100%;
    height: 10%;
    .profilepic {
      display: none;
    }
    ul {
      padding: 0;
      display: flex;
      justify-content: space-between;
      justify-content: space-around;
    }
  }
  @include respond-to("mobile") {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;

    .profilepic {
      display: none;
    }
    a {
      font-size: 0.9rem;
    }
    ul {
      padding: 0;
      display: flex;
      justify-content: space-around;
      li {
        margin: 0px;
      }
      .active {
        ::before {
          transition: color 1s ease;
          content: "";
        }
        a {
          font-size: 0.9rem;
          border-bottom: 3px solid #f00;
        }
      }
    }
  }
}
