$h_color_primary: #06517f;
$sidebar_background: #bd5d38;
$content_wrapper_background: rgb(231, 240, 243);
$color_active_color: #fff;
$color_inactive_color: rgba(255,255,255,.5);
$color_link_active_background: rgba(95, 22, 22, 0.355);
$color_link_shadow: rgba(95, 22, 22, 0.355);
$color_text: #868e96;

$color_active_background: #bd5d38;
$color_active_border: #bd5d38;
$color_active_hover_color: #fff;
$color_active_hover_background: #bd5d38;
$color_active_hover_border: #bd5d38;
$color_active_focus_color: #fff;
$color_active_focus_background: #bd5d38;
$color_active_focus_border: #bd5d38;

$color_profilepic_shadow: rgba(95, 22, 22, 0.355);
